body {
  background: #d669cd;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.padding {
  margin: 1px 0 1px 0;
}

.container1,
.container2 {
  background-color: #000000;
  padding: 5px;
  width: 75%;
  max-width: 80%;
}

.container1 {
  border-radius: 15px;
}

.container2 {
  border-radius: 5px;
}

label {
  padding: 5px;
  font-weight: bold;
}

#form {
  width: 100%;
  padding: 1rem;
  background-color: #53c5e7;
  border-radius: 15px;
  font-size: 12px;
  box-sizing: border-box;
}

.bungkushasil {
  width: 100%;
  max-height: 100px;
  padding: 1rem;
  background-color: #53c5e7;
  border-radius: 5px;
  font-size: 12px;
  box-sizing: border-box;
  overflow-y: scroll;
}

#form h1 {
  color: #0f2027;
  text-align: center;
}

#form button {
  padding: 1rem;
  margin-top: 10px;
  width: 100%;
  font-weight: bold;
  background-color: #44c02c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-control {
  display: flex;
  flex-direction: column;
}

.input-control input {
  border: 2px solid #89b5af;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.input-control input:focus {
  outline: 0;
  border: 2px solid rgb(0, 255, 213);
}

p {
  font-style: italic;
  margin-top: 2px;
  margin-right: 3px;
  font-size: 11px;
  color: red;
  float: right;
}

span {
  color: orangered;
}

.gambar {
  display: flex;
  justify-content: center;
}

img {
  padding-top: 0.7rem;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

:placeholder-shown {
  font-style: italic;
}
